.main_title {
  font-size: 35px;
  text-transform: uppercase;
  font-weight: 600;
  margin: 35px;
  text-align: center;
}

.inputs {
  margin: 15px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.formcontrol {
  margin: 25px !important;
  display: flex;
  align-items: center;
}

.btn {
  margin-top: 5px !important;
}
